* {

margin: 0;
padding: 0;
box-sizing: border-box;

}


header {

    height: 30px;
    padding: 10px;
    background-color: darkslategray;
    margin: auto
    
}

nav {

    height: 30px;
    padding: 10px;
    background-color: blueviolet;
    margin: auto
}

#aside {

    height: 90px;
    width: 40%;
    background-color: maroon;
    float: left;

}

#section {

    height: 90px;
    width: 60%;
    background-color: orchid;
    float: left;


}

#article {
clear: both;
overflow: auto;
background-color: orange;
height:40px;
width:40%;
margin-bottom: 20pxx;

}